.container {
  text-align: center;
  min-height: 425px;
  min-width: 275px;
  height: 65%;
  width: 22%;
  background-color: lawngreen;
  border: 1px solid gray;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 13px 6px #292635;
  box-shadow: 0px 0px 13px 6px #2f2d38;
}

.output-container {
  height: 30%;
  background-color: rgb(230, 237, 243);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.input {
  height: 70%;
  background-color: rgb(29, 50, 77);
}
